.app-result {
  display: none;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: solid white;
  font-size: 36px;
  text-align: center;
}

.app-result p {
  overflow-wrap: break-word;
}

.app-result .close {
  cursor: pointer;
  float: right;
  margin-right: 30px;
  /* position: fixed; */
}
